<nav class="navbar navbar-inverse navbar-fixed-top theme-color-strong">
    <div class="container-fluid">
        <!-- collapsed NavBar-->
        <div class="navbar-header">
            <!-- Right button collapsed-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                <!-- collapsed button bars -->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">POIManager</a>
        </div>

        <!-- NavBar buttons-->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!--Añadir cuando se este loggeado y no-->
                <li><a href="#/signUp">Sign up</a></li>
                <li><a href="#/signIn">Sign in</a></li>
                <li><a href="#/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>
