<nav class="navbar navbar-inverse navbar-fixed-top theme-color-strong">
    <div class="container-fluid">
        <!-- collapsed NavBar-->
        <div class="navbar-header">
            <!-- Right button collapsed-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                <!-- collapsed button bars -->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-left">
                <a ng-if="!logged()" class="navbar-brand" href="#"><span class="glyphicon glyphicon-map-marker"></span>   POIManager</a>
                <a ng-if="logged()" class="navbar-brand" role="button" ng-click="getIdFromToken()">
                    <span class="glyphicon glyphicon-home"></span>   Home</a>
                <a ng-if="isAdmin" class="navbar-brand" role="button" href="#">
                    <span class="glyphicon glyphicon-signal"></span>   Statistics</a>
                <li class="dropdown">
                    <a ng-if="!isAdmin" role="button" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-search"></span>  Search <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/search/users">Users</a></li>
                        <li><a href="#/search/pois">Pois</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a ng-if="logged() && !isAdmin" role="button" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-signal"></span>   Statistics</a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="showStatistics(1)">Creation Dates</a></li>
                        <li><a ng-click="showStatistics(2)">Last Accesses</a></li>
                        <li><a ng-click="showStatistics(3)">Shared Pois</a></li>
                        <li><a ng-click="showStatistics(4)">Number 4</a></li>
                        <li><a ng-click="showStatistics(5)">Number 5</a></li>
                        <li><a ng-click="showStatistics(6)">Pois by country</a></li>
                        <li><a ng-click="showStatistics(7)">Followings' pois by country </a></li>
                        <li><a ng-click="showStatistics(8)">Ages</a></li>
                        <li><a ng-click="showStatistics(9)">Activity</a></li>
                        <li><a ng-click="showStatistics(10)">Number 10</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- NavBar buttons-->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!--Añadir cuando se este loggeado y no-->
                <li ng-if="!logged()"><a href="#/signUp"><span class="glyphicon glyphicon-user"></span>  Sign up</a></li>
                <li ng-if="!logged()"><a href="#/signIn"><span class="glyphicon glyphicon-log-in"></span>   Sign in</a></li>
                <li ng-if="logged()"><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>   Logout</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>
