<div class="container">
    <br><br>

    <h2>Users in the system</h2>
    <br><br>

    <table class="table table-responsive" ng-click="hideError();hideSuccess()">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre</th>
            <th>Id</th>
            <th>Email</th>
            <th>Creation date</th>
            <th>Last access</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in listOfUsers">
            <td>{{row.name}}</td>
            <td>{{row._id}}</td>
            <td>{{row.email}}</td>
            <td>{{row.creationDate}}</td>
            <td>{{row.lastAccess}}</td>
            <!--Falta hacer acciones-->
            <td><a class="icon" ng-click="select($index,false)" data-toggle="modal" data-target="#myModal" role="button">
                <span class="glyphicon glyphicon glyphicon-trash"></span></a></td>
            <td><a class="icon" ng-click="select($index,true)" data-toggle="modal" data-target="#myModal" role="button">
                <span class="glyphicon glyphicon glyphicon-envelope"></span></a></td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <!--Error & success messages-->
    <div ng-if="error" class="alert alert-danger center">
        <strong>&#10008</strong> {{errorMsg}}
    </div>
    <div ng-if="success" class="alert alert-success center">
        <strong>&#10004</strong> {{successMsg}}
    </div>
</div>

<div class ="row">
    <div id="myModal" class="modal fade" role="dialog" style="margin-right: 40%;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 ng-if="send" class="modal-title">Warning</h4>
                    <h4 ng-if="!send" class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body text-left">
                    <div class="row">
                        <div class="col-lg-6">
                            <div ng-if="send" class="form-group">
                                <label for="message">message:</label>
                                <br/>
                                <textarea class="form-control" rows="5" id="message" ng-model="$parent.message"></textarea>
                                <br/>
                                <button data-dismiss="modal" class="btn btn-default theme-accent" ng-click="sendMail()" >Send</button>
                                <button data-dismiss="modal" class="close" aria-label="Close">X</button>
                            </div>

                            <div ng-if="!send" class="form-group">
                                <button data-dismiss="modal" class="btn btn-danger theme-accent" ng-click="deleteUser()" >Confirm</button>
                                <button data-dismiss="modal" class="close" aria-label="Close">X</button>

                            </div>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
                <div class="modal-footer text-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>



