<div class="container">
    <br><br>

    <h2>Users in the system</h2>
    <br><br>

    <table class="table table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre</th>
            <th>Id</th>
            <th>Email</th>
            <th>Creation date</th>
            <th>Last access</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in listOfUsers">
            <td>{{row.name}}</td>
            <td>{{row._id}}</td>
            <td>{{row.email}}</td>
            <td>{{row.creationDate}}</td>
            <td>{{row.lastAccess}}</td>
            <!--Falta hacer acciones-->
            <td><a class="icon" ng-click="deleteUser($index)" role="button">
                <span class="glyphicon glyphicon glyphicon-trash"></span></a></td>
            <td><a class="icon" ng-click="sendMail($index)" role="button">
                <span class="glyphicon glyphicon glyphicon-envelope"></span></a></td>


            <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
             &lt;!&ndash; Modal &ndash;&gt;
             <div class="modal fade" id="myModal" role="dialog">
                 <div class="modal-dialog">
                     &lt;!&ndash; Modal content&ndash;&gt;
                     <div class="modal-content">
                         <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title">Modal Header</h4>
                         </div>
                         <div class="modal-body">
                             <p>Some text in the modal.</p>
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                     </div>

                 </div>
             </div>-->
        </tr>
        </tbody>
    </table>

    <br><br>
    <!-- Parte ventana modal. NO ASOCIA EL CONTROLLER -->
    <!--<div ng-controller="ModalDemoCtrl" class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
        <script type="text/ng-template" id="stackedModal.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
            </div>
            <div class="modal-body" id="modal-body-{{name}}">
                Having multiple modals open at once is probably bad UX but it's technically possible.
            </div>
        </script>

        <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
        <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <button type="button"
                class="btn btn-default"
                ng-click="open('sm', '.modal-parent')">
            Modal appended to a custom parent
        </button>
        <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
        <button type="button" class="btn btn-default" ng-click="openComponentModal()">Open a component modal!</button>
        <button type="button" class="btn btn-default" ng-click="openMultipleModals()">
            Open multiple modals at once
        </button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        <div class="modal-parent">
        </div>
    </div>-->

    <!--Error & success messages-->
    <div ng-if="error" class="alert alert-danger center">
        <strong>&#10008</strong> {{errorMsg}}
    </div>
    <div ng-if="success" class="alert alert-success center">
        <strong>&#10004</strong> {{successMsg}}
    </div>
</div>