<div class="container">

  <h1 id="firstContent">Change your password!</h1>
  <hr>
  <form role="form" ng-submit="changePassword()">
    <!-- this div will show only when an error occurs -->
    <div ng-if="error" class="alert alert-danger center">
      <strong>&#10008</strong> {{errorMsg}}
    </div>
    <!-- this div will show only when the operation has been a success -->
    <div ng-if="success" class="alert alert-success center">
      <strong>&#10004</strong> {{successMsg}}
    </div>

    <!-- password input form -->
    <div class="form-group">
      <input ng-click="hideError();hideSuccess()" type="password" ng-model="password"
             class="form-control" placeholder="Password" required />
    </div>

    <div class="form-group">
      <input ng-click="hideError();hideSuccess()" type="password" ng-model="rePassword"
             class="form-control" placeholder="Repeat password" required />
    </div>

    <!-- submit button form-->
    <p class="center">
      <button type="submit" class="btn btn-default theme-accent">Change</button>
    </p>

  </form>
</div>
