<div class="container" id="firstContentPanel">

    <form class="form-inline" role="form" ng-submit="searchPois()">
        <input type="text" ng-model="poiSearch"
               class="form-control" placeholder="Search" required />
        <button type="submit" class="btn btn-default theme-accent"><span class="glyphicon glyphicon-search"></span>  Search</button>
    </form>

    <div class="row">
        <!--Show pois founds in the map in left panel-->
        <div class="col-md-8 leftPanel">
            <div id="googleMap" style="width:100%;height:480px;"></div>
        </div>

        <!--Show results pois in a list on right panel-->
        <div class="col-md-4 leftPanel" ng-click="hideError();hideSuccess()">



            <!--Error & success messages-->
            <div ng-if="error" class="alert alert-danger center">
                <strong>&#10008</strong> {{errorMsg}}
            </div>
            <div ng-if="success" class="alert alert-success center">
                <strong>&#10004</strong> {{successMsg}}
            </div>

            <div ng-if="found">
                <h2> Results</h2>
                <p ng-if="foundPois.length==0"> There are no pois</p>
                <ul class="list-group pre-scrollable" >
                    <button type="button" class="list-group-item" ng-repeat="row in foundPois" ng-click="showPoi(row.lat,row.lng,row.name,row._id)">{{row.name}}</button>
                </ul>
            </div>

            <!--Show ONE poi when it's selected-->
            <div ng-if="onePoiSelected">
                <h2>{{newPoi.name}}</h2>
                <p>User: <a href="/#/users/{{newPoi.creator}}">{{userName}} </a></p>
                <p>Description: {{newPoi.description}}</p>
                <p>Keywords: {{newPoi.keywords}}</p>
                <p>Latitude: {{newPoi.lat}}</p>
                <p>Longitude: {{newPoi.lng}}</p>
                <p>URL: <a ng-href="{{newPoi.shortURL}}">{{newPoi.shortURL}}</a></p>
                <p>Image:</p>
                <img ng-src="{{newPoi.image}}" class="img-responsive">
                <p>Rating: {{newPoi.rating}}</p>
                <button ng-if="itslogged && !isfav" ng-click="addFav()" class="btn btn-default theme-accent">
                    <span class="glyphicon glyphicon-heart"></span>  Add to fav</button>
                <button ng-if="itslogged && isfav" ng-click="removeFav()" class="btn btn-default theme-accent">
                    <span class="glyphicon glyphicon-heart"></span>  Remove fav</button>
                <button ng-if="itslogged" ng-click="duplicatePoi()" class="btn btn-default btn-primary">
                    <span class="glyphicon glyphicon-duplicate"></span>  Duplicate</button>
                <button ng-click="showShare()" class="btn btn-default btn-success">
                    <span class="glyphicon glyphicon-envelope"></span>  Share</button>
            </div>


            <div ng-if="sharePoi">
                <form name="form">
                    <input type="text" ng-model="$parent.recommendation.email" class="form-control form-group" placeholder="Email" required/>

                    {{share}}
                    <textarea class="form-control form-group" ng-model="$parent.recommendation.message" placeholder="Message" rows="5" ></textarea>
                    <button type="submit" ng-click="share()"  class="btn btn-default theme-accent">Send</button>
                </form>
            </div>


        </div>

    </div>

</div>