<div class="container">

  <h1 id="firstContent" class="center">Sign up!</h1>

  <form role="form" ng-submit="signUp()">
    <!-- this div will show only when an error occurs -->
    <div ng-if="error" class="alert alert-danger">
      <strong>&#10008</strong> {{errorMsg}}
    </div>
    <!-- this div will show only when the operation has been a success -->
    <div ng-if="success" class="alert alert-success center">
      <strong>&#10004</strong> {{successMsg}}
    </div>

    <!-- name input form -->
    <div class="form-group">
      <input ng-click="hideError();hideSuccess()" type="text" ng-model="name"
             class="form-control" placeholder="Enter the name" required />
    </div>

    <!--last name input form -->
    <div class="form-group">
      <input ng-click="hideError();hideSuccess()" type="text" ng-model="lastName"
             class="form-control" placeholder="Enter the last name" required />
    </div>

    <!-- email input form -->
    <div class="form-group">
      <input ng-click="hideError();hideSuccess()" type="email" ng-model="email"
             class="form-control" placeholder="Enter the email" required />
    </div>

    <!-- birth date input form-->
    <div class="form-group">
        Birth date:
      <input ng-click="hideError();hideSuccess()" type="date" ng-model="birthDate"
             class="form-control" required />
    </div>

    <!-- place input form -->
    <div class="form-group">
      <input ng-click="hideError();hideSuccess()" type="text" ng-model="place"
             class="form-control" placeholder="Enter the place" required />
    </div>

    <!-- submit button form-->
    <p class="center">
      <button type="submit" class="btn btn-default theme-accent">Sign up</button>
    </p>

  </form>
</div>
