<div id="starterStyle">
    <div class="container">
        <!--<h3 class="text-center">POIManager</h3>-->
        <h3>
            POIManager
            <small class="text-muted">Your best way to manage your points of interest!</small>
        </h3>
        <hr/>
        <!--Poner una imagen en vez de mapa de Google en la pantalla principal?-->
        <iframe height="480" width="100%" src="https://www.google.com/maps/embed/v1/view?zoom=15&center=41.6488,-0.8891&key=AIzaSyAM2NIBIz839-DMpdh4orqh3LmJi3RXVGk"></iframe>
        <hr/>
        <!--<p>POIManager es un  un sistema que permite gestionar, mediante una interfaz típica de control de acceso de usuarios, una serie de puntos de interés (Points of Interest, pois) sobre un mapa.</p>-->
        <blockquote>
            <p>POIManager It's a system that allows users to manage, through a typical user access control
                interface, a series of points of interest (POIs) on a map.</p>
            <footer>Vignemale</footer>
        </blockquote>
    </div>
</div>