<div id="starterStyle">
    <div class="container">
        <br><br><br>
        <!--<h3 class="text-center" style="font-family:'Metamorphous', cursive;">-->
        <h3 class="text-center" id="titleStarter">
            POIManager
            <small class="text-muted" style="font-size: 20px">Your best way to manage your points of interest!</small>
        </h3>
        <br>
        <blockquote>
            <p>POIManager it's a system that allows users to manage, through a typical user access control
                interface, a series of points of interest (POIs) on a map.</p>
            <footer>Vignemale</footer>
        </blockquote>
        <hr/>
        <iframe height="480" width="100%" src="https://www.google.com/maps/embed/v1/view?zoom=15&center=41.6488,-0.8891&key=AIzaSyAM2NIBIz839-DMpdh4orqh3LmJi3RXVGk"></iframe>
        <hr/>

    </div>
</div>