<div class="container">

    <div id="firstContentPanel" class="row">

        <!--Left panel, with map-->
        <div class="col-md-8 leftPanel">
            <div id="googleMap" style="width:100%;height:480px;"></div>

        </div>

        <!--Right panel, with data user-->
        <div class="col-md-4 rightPanel">
            <div class="row">
                <!--Left part, with username-->
                <div class="col-md-8">
                    <h1>{{user.name}} {{user.lastName}}</h1>
                </div>
                <!--Right part, with button-->
                <div class="col-md-4">
                    <button ng-if="!edit" ng-click="showEdit()" class="btn btn-default theme-accent">
                        <span class="glyphicon glyphicon-edit"></span>  Edit</button>
                </div>
            </div>

            <!--Users profile with their info-->
            <div ng-if="!edit">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a role="button" ng-click="showPois();hideRoutes();hideFollows();hideFavs();hideError();hideSuccess();" class="col-md-3">Pois</a>
                                </li>
                                <li>
                                    <a role="button" ng-click="showRoutes();hidePois();hideFollows();hideFavs();hideError();hideSuccess();" class="col-md-3">Routes</a>
                                </li>
                                <li>
                                    <a role="button" ng-click="showFollows();hidePois();hideRoutes();hideFavs();hideError();hideSuccess();" class="col-md-3">Following</a>
                                </li>
                                <li>
                                    <a role="button" ng-click="showFavs();hidePois();hideFollows();hideRoutes();hideError();hideSuccess();" class="col-md-3">Favs</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!--Error & success messages-->
                <div ng-if="error" class="alert alert-danger center">
                    <strong>&#10008</strong> {{errorMsg}}
                </div>
                <div ng-if="success" class="alert alert-success center">
                    <strong>&#10004</strong> {{successMsg}}
                </div>

                <!--Show ALL pois or message if there aren't pois-->
                <div ng-if="pois">
                    <p ng-if="poisList.length==0"> There are no pois</p>
                    <ul class="list-group pre-scrollable" >
                        <button type="button" class="list-group-item" ng-repeat="row in poisList" ng-click="showPoi(row.lat,row.lng,row.name,row._id)">{{row.name}}</button>
                    </ul>
                    <button type="button" class="btn btn-default theme-accent" ng-click="showCreatepoi()">Create POI</button>
                </div>

                <!--Show ONE poi when it's selected-->
                <div ng-if="onePoiSelected">
                    <h2>{{newPoi.name}}</h2>
                    <p>Description: {{newPoi.description}}</p>
                    <p>Keywords: {{newPoi.keywords}}</p>
                    <p>Latitude: {{newPoi.lat}}</p>
                    <p>Longitude: {{newPoi.lng}}</p>
                    <!--<p>{{newPoi.images}}</p>-->
                    <p>URL: {{newPoi.shortURL}}</p>
                    <p>Valoration: {{newPoi.valoration}}</p>
                    <button ng-click="editPoi()" class="btn btn-default theme-accent">
                        <span class="glyphicon glyphicon-edit"></span>  Edit</button>
                    <button ng-click="removePoi()" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>  Remove</button>
                </div>

                <!--FORM CREATE POI-->
                <form name="form" ng-submit="createpoiFun()" ng-if="createpoi" ng-click="hideError();hideSuccess()">
                    <input type="text" ng-model="$parent.newPoi.name" class="form-control form-group" placeholder="Name" required/>
                    <input type="text" ng-model="$parent.newPoi.description" class="form-control form-group" placeholder="Description" required/>
                    <input type="text" ng-model="$parent.newPoi.keywords" class="form-control form-group" placeholder="Keywords (separate by comma)" required/>
                    <input type="number" step="any" ng-model="$parent.newPoi.lat" class="form-control form-group" placeholder="Latitude" required/>
                    <input type="number" step="any" ng-model="$parent.newPoi.lng" class="form-control form-group" placeholder="Longitude" required/>
                    <input type="url" ng-model="$parent.newPoi.shortURL" class="form-control form-group" placeholder="URL" required/>
                    <input type="file" ng-model="$parent.newPoi.images" placeholder="Images" multiple/>
                    <!--stars rating-->
                    <fieldset class="rating form-control form-group">
                        Valoration:
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star5" name="v1" value="5" required/><label class="full" for="star5" title="5"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star4half" name="v1" value="4.5"/><label class="half" for="star4half" title="4.5"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star4" name="v1" value="4"/><label class="full" for="star4" title="4"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star3half" name="v1" value="3.5" /><label class="half" for="star3half" title="3.5"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star3" name="v1" value="3"/><label class="full" for="star3" title="3"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star2half" name="v1" value="2.5" /><label class="half" for="star2half" title="2.5"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star2" name="v1" value="2"/><label class="full" for="star2" title="2"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star1half" name="v1" value="1.5"/><label class="half" for="star1half" title="1.5"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="star1" name="v1" value="1"/><label class="full" for="star1" title="1"></label>
                        <input type="radio" ng-model="$parent.newPoi.valoration" id="starhalf" name="v1" value="half"/><label class="half" for="starhalf" title="0.5"></label>
                    </fieldset>
                    <button type="submit" class="btn btn-default theme-accent">Create POI</button>
                </form>

                <!--Show ALL routes or message if there aren't routes-->
                <div ng-if="routes">
                    <p ng-if="routesList.length==0"> There are no routes</p>
                    <ul class="list-group pre-scrollable" >
                        <button type="button" class="list-group-item" ng-repeat="row in routesList" ng-click="showRoute(row)">{{row.name}}</button>
                    </ul>
                </div>

                <!--Show ALL follows or message if there aren't follows-->
                <div ng-if="follows">
                    mostrando follows
                </div>

                <!--Show ALL favs or message if there aren't favs-->
                <div ng-if="favs">
                    mostrando favs
                </div>
            </div>

            <!--FORM to EDIT USER-->
            <form name="form" ng-submit="modifyUser()" ng-if="edit">

                <!--Error & success messages-->
                <div ng-if="error" class="alert alert-danger center">
                    <strong>&#10008</strong> {{errorMsg}}
                </div>
                <div ng-if="success" class="alert alert-success center">
                    <strong>&#10004</strong> {{successMsg}}
                </div>

                <div class="form-group">
                    <input ng-click="hideError();hideSuccess()" type="password" ng-model="$parent.oldPassword" class="form-control" placeholder="Old password" required/>
                </div>
                <div class="form-group">
                    <input ng-click="hideError();hideSuccess()" type="password" ng-model="$parent.newPassword" class="form-control" placeholder="Password" required />
                </div>
                <div class="form-group">
                    <input ng-click="hideError();hideSuccess()" type="password" ng-model="$parent.newRePassword" class="form-control" placeholder="Repeat password" required />
                </div>

                <button type="submit" class="btn btn-sm theme-accent-sm">Change password</button>
                <a ng-click="removeUser()" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>  Remove Account</a>
            </form>

        </div>
    </div>
</div>
